@charset "UTF-8";

#wrap {position: relative; z-index: 1; width: 100%;}
#wrap #header {z-index:3; width:100%; position:fixed; top:0; left:0; height:75px; background:transparent; border-bottom:1px solid rgba(0, 0, 0, .1); transition: all .3s;}
/* 상단에서 10px이상 아래로 스크롤 할때 header높이60px으로 부드럽게 변경, 배경은:black; boder:0; (addClass) */

#wrap #header.addHeader {height:60px; background:#000;/* transparent -> 스크롤시 블랙으로 바뀜*/ border-bottom:0;}
/* #wrap #header:hover {height:60px; background:transparent; border-bottom:0;} */

#wrap #header .wrap {width: 100%; max-width: 1170px; height: 100%; margin: 0 auto;/* 임시배경 1170*/}
#wrap #header .wrap .gap{width: auto; height: 100%; margin: 0 15px;}
#wrap #header .wrap .gap .container{width: 100%; height: 100%;/* 임시배경 1140*/}

/* header 왼쪽박스 */
#wrap #header .wrap .gap .container .left-wrap{float: left; line-height: 75px; transition: all .3s;}
#wrap #header.addHeader .wrap .gap .container .left-wrap{line-height: 60px;}
/* #wrap #header:hover .wrap .gap .container .left-wrap{line-height: 60px;} */

/* header LOGO */
#wrap #header .wrap .gap .container .left-wrap .logo-wrap{display: inline-block; width: 156px; /* 312/2 */ line-height: 100%;}
#wrap #header .wrap .gap .container .left-wrap .logo-wrap a{display: inline-block;}
#wrap #header .wrap .gap .container .left-wrap .logo-wrap a img{width: 100%;}

/* header GNB */
#wrap #header .wrap .gap .container .left-wrap #gnb{display: inline-block; font-family: 'Montserrat'; line-height: 100%; margin-left: 20px; padding: 3px 0; border-left: 1px solid #dcdcdc;}
#wrap #header .wrap .gap .container .left-wrap #gnb ul{width: 100%;}
#wrap #header .wrap .gap .container .left-wrap #gnb ul li{display: inline-block; margin-left: 37px;}
#wrap #header .wrap .gap .container .left-wrap #gnb ul li a{color: #dcdcdc; font-size: 12px; font-weight: 600;}

/* header 오른쪽박스 */
#wrap #header .wrap .gap .container .right-wrap{float: right;}

/* header ASIDE */
#wrap #header .wrap .gap .container .right-wrap .aside{line-height: 75px; transition: all .3s;}
#wrap #header.addHeader .wrap .gap .container .right-wrap .aside{line-height: 60px;}
/* #wrap #header:hover .wrap .gap .container .right-wrap .aside{line-height: 60px;} */

#wrap #header .wrap .gap .container .right-wrap .aside span{display: inline-block; line-height: 100%; margin-right: 10px; font-family: 'Montserrat'; font-size: 10px; color: #dcdcdc; font-weight: 600; letter-spacing: .5px;}
/* .aside span -> 인라인블럭 = line-heigth 적용시키기 위함 */

@media all and (max-width:1200px){
    #wrap #header .wrap .gap .container .right-wrap .aside span:nth-child(1){display: none;}
}
@media all and (max-width:990px){
    #wrap #header .wrap .gap .container .left-wrap #gnb{display: none;}
    #wrap #header .wrap .gap .container .right-wrap{display: none;}
}

#wrap #header .wrap .gap .container .right-wrap .aside span a{display: inline-block; padding: 5px 10px; background: transparent; transition: all .3s; color: #dcdcdc; border: 2px solid #dcdcdc; font-weight: 600; font-size: 11.5px;}
/* #wrap #header .wrap .gap .container .right-wrap .aside span a:hover{background: #dcdcdc; color: #000;} */

/* main */
#wrap #main{z-index:2; position: relative; width: 100%;}

/* 슬라이드 영역 */
/* 부모의 높이를 기준으로 자식,자손의 높이가 결정됨. */
#wrap #main #section01{z-index: 1; position: relative; width: 100%; height: 969px; background: url(../img/slider-img4.jpg) no-repeat 50% 0 fixed; background-size: cover;/*script window.height*/}
/* background: url() no-repeat 50% 0 (0=top값) */
#wrap #main #section01::before{z-index:2; position: absolute; top:0; left:0; content:''; width: 100%; height: 100%; background:#252525; opacity: .7;}
#wrap #main #section01 .wrap{z-index: 3; position: relative; width: 100%; max-width: 1170px; height:100%; margin: 0 auto; /* background: #c99; */}
#wrap #main #section01 .wrap .gap{margin: 0 15px; height: 100%;}
#wrap #main #section01 .wrap .gap .container{width:100%; height: 100%;}


/* 이미지01 */
/* 부모의 높이를 기준으로 자식,자손의 높이가 결정됨. */
#wrap #main #section02{width: 100%; height: 969px; background: url(../img/restaurant-img1.jpg) no-repeat 50% 0 scroll; background-size: cover;/*script window.height*/}
#wrap #main #section02 .wrap{width: 100%; max-width: 1170px; height:100%; margin: 0 auto;}
#wrap #main #section02 .wrap .gap{height: 100%; margin: 0 15px;}
#wrap #main #section02 .wrap .gap .container{width:100%; height: 100%;}


/* 이미지02 */
/* 부모의 높이를 기준으로 자식,자손의 높이가 결정됨. */
#wrap #main #section03{width: 100%; height: 969px; background: url(../img/restaurant-img2.jpg) no-repeat 50% 0 scroll; background-size: cover;/*script window.height*/}
#wrap #main #section03 .wrap{width: 100%; max-width: 1170px; height:100%; margin: 0 auto;}
#wrap #main #section03 .wrap .gap{height: 100%; margin: 0 15px;}
#wrap #main #section03 .wrap .gap .container{width:100%; height: 100%;}


/* 이미지03 */
/* 부모의 높이를 기준으로 자식,자손의 높이가 결정됨. */
#wrap #main #section04{width: 100%; height: 969px; background: url(../img/restaurant-img3.jpg) no-repeat 50% 0 scroll; background-size: cover;/*script window.height*/}
#wrap #main #section04 .wrap{width: 100%; max-width: 1170px; height:100%; margin: 0 auto;}
#wrap #main #section04 .wrap .gap{height: 100%; margin: 0 15px;}
#wrap #main #section04 .wrap .gap .container{width:100%; height: 100%;}


/* Discover story */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section05{width: 100%; height: auto;}
#wrap #main #section05 .wrap{width: 100%; max-width: 1170px; margin: 0 auto;} 
#wrap #main #section05 .wrap .gap{width: 100%;}
/* 1170에서 마진값을 뺀 나머지값을 너비로 가져야함 (gap에 가로고정값 주지않기)*/
#wrap #main #section05 .wrap .gap .container{width: 100%; height: 860px;}


/* Menu image */
/* 부모의 높이를 기준으로 자식,자손의 높이가 결정됨. */
#wrap #main #section06{width: 100%; height: 740px; /*임시배경*/background: #99c;}
#wrap #main #section06 .wrap{width: 100%; height: 100%;} 
#wrap #main #section06 .wrap .gap{width: 100%; height: 100%;}
#wrap #main #section06 .wrap .gap .container{width: 100%; height: 100%;}


/* Our chef */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section07{width: 100%; height: auto; padding: 130px 0 0 0; /*임시배경*/background: #cc9;}
#wrap #main #section07 .wrap{width: 100%; height: auto;} 
#wrap #main #section07 .wrap .gap{width: 100%; height: auto;}
#wrap #main #section07 .wrap .gap .container{width: 100%; /*임시높이*/height: 782px;}


/* Special dishes */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section08{width: 100%; height: auto; padding: 130px 0 0 0; background: url(../img/restaurant-img24.jpg) no-repeat 50% 0 fixed; background-size: cover;}
#wrap #main #section08 .wrap{width: 100%; height: auto;} 
#wrap #main #section08 .wrap .gap{width: 100%; height: auto;}
#wrap #main #section08 .wrap .gap .container{width: 100%; /*임시높이*/height: 582px;}


/* Food gallery */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section09{width: 100%; height: auto; padding: 130px 0 0 0;}
#wrap #main #section09 .wrap{width: 100%; height: auto;} 
#wrap #main #section09 .wrap .gap{width: 100%; height: auto;}
#wrap #main #section09 .wrap .gap .container{width: 100%; /*임시높이*/height: 932px;}


/* 말풍선 slide*/
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section10{width: 100%; height: auto; padding: 130px 0;}
#wrap #main #section10 .wrap{width: 100%; max-width: 1170px; height: auto; margin: 0 auto;} 
#wrap #main #section10 .wrap .gap{margin: 0 15px;}
#wrap #main #section10 .wrap .gap .container{width: 100%; /*임시높이*/height: 268px; /*임시배경*/background: #c99;}


/* Latest blog */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section11{z-index: 1; position: relative; width: 100%; height: auto; padding: 130px 0; background: url(../img/slider-img6.jpg) no-repeat 50% 0 fixed; background-size: cover;}
#wrap #main #section11::after{z-index: 2; content: ''; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #252525; opacity: .8;}
#wrap #main #section11 .wrap {z-index:3; position:relative; width: 100%; max-width: 1170px; height: auto; margin: 0 auto;} 
#wrap #main #section11 .wrap .gap {width: 100%;}
#wrap #main #section11 .wrap .gap .container{width: 100%; /*임시높이*/height: 625px;}


/* Book */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section12{position: relative; padding: 130px 0 0 0; width: 100%; height: auto; background: #9cd;/* background: url(../img/restaurant-img40.jpg) no-repeat 50% 0 fixed; */}
#wrap #main #section12 .wrap{width: 100%; max-width: 1170px; height: auto; margin: 0 auto;} 
#wrap #main #section12 .wrap .gap{margin: 0 15px;}
#wrap #main #section12 .wrap .gap .container{width: 100%; /*임시높이*/height: 187px;}


/* conunt */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section13{position: relative; padding: 130px 0 0 0; width: 100%; height: auto;}
#wrap #main #section13 .wrap{margin: 0 auto; width: 100%; max-width: 1170px; height: auto;} 
#wrap #main #section13 .wrap .gap{width: 100%;}
#wrap #main #section13 .wrap .gap .container{width: 100%; /*임시높이*/height: 200px;}


/* contact */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #main #section14{position: relative; padding: 130px 0 0 0; width: 100%; height: auto; background: #bd9;}
#wrap #main #section14 .wrap{margin: 0 auto; width: 100%; max-width: 1170px; height: auto;} 
#wrap #main #section14 .wrap .gap{width: 100%;}
#wrap #main #section14 .wrap .gap .container{width: 100%; /*임시높이*/height: 640px;}


/* footer */
/* 조상영역들의 높이 = 마지막 자손영역의 높이가(content 높이에 따라서) 결정함.*/
#wrap #footer{z-index: 1; position: relative; width: 100%; height: auto; background:url(../img/restaurant-img41.jpg) no-repeat 50% 0; background-size: cover;}
#wrap #footer::before{z-index: 2; display: block; position: absolute; left:0; top: 0; content: ''; width: 100%; height: 100%; background: #252525; opacity: .7;}
#wrap #footer .wrap{z-index: 3; position: relative; margin: 0 auto; width: 100%; max-width: 1170px; height: auto;} 
#wrap #footer .wrap .gap{margin: 0 15px;}
#wrap #footer .wrap .gap .container{width: 100%; /*임시높이*/height: 410px;}