@charset "UTF-8";

#wrap {
    z-index: 1;
    position: relative;
    width: 100%;
}


#wrap #header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: all .3s;
}

/* 상단에서 10픽셀이상 아래로 스크롤 이동시 헤더높이 60픽셀으로 부드럽게 변경 배경은 검정, 테두리는 0 변환 효과 */
#wrap #header.addHeader {
    height: 60px;
    background: #000;
    border-bottom: 0;
}

/* #wrap #header:hover {height:60px;background:#000;border-bottom:0;} */
#wrap #header .wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}

#wrap #header .wrap .gap {
    width: auto;
    height: 100%;
    margin: 0 15px;
}

#wrap #header .wrap .gap .container {
    width: 100%;
    height: 100%;
}

/* 왼쪽박스 */
#wrap #header .wrap .gap .container .left-wrap {
    float: left;
    line-height: 75px;
    transition: all .3s;
}

#wrap #header.addHeader .wrap .gap .container .left-wrap {
    line-height: 60px;
}

/* #wrap #header:hover .wrap .gap .container .left-wrap  {line-height:60px;} */
/* LOGO */
#wrap #header .wrap .gap .container .left-wrap .logo-wrap {
    display: inline-block;
    width: 156px;
    line-height: 100%;
}

#wrap #header .wrap .gap .container .left-wrap .logo-wrap a {
    display: inline-block;
}

#wrap #header .wrap .gap .container .left-wrap .logo-wrap a img {
    width: 100%;
}

/* GNB */
#wrap #header .wrap .gap .container .left-wrap #gnb {
    display: inline-block;
    font-family: 'Montserrat';
    line-height: 100%;
    border-left: 1px solid #dcdcdc;
    margin-left: 20px;
    padding: 3px 0;
}

#wrap #header .wrap .gap .container .left-wrap #gnb ul {
    width: 100%;
}

#wrap #header .wrap .gap .container .left-wrap #gnb ul li {
    display: inline-block;
    margin-left: 37px;
}

#wrap #header .wrap .gap .container .left-wrap #gnb ul li a {
    color: #dcdcdc;
    font-size: 12px;
    font-weight: 600;
}


/* 오른쪽 박스 */
#wrap #header .wrap .gap .container .right-wrap {
    float: right;
}

/* ASIDE */
#wrap #header .wrap .gap .container .right-wrap .aside {
    line-height: 75px;
    transition: all .3s;
}

#wrap #header.addHeader .wrap .gap .container .right-wrap .aside {
    line-height: 60px;
}

/* #wrap #header:hover .wrap .gap .container .right-wrap .aside {line-height:60px;} */
#wrap #header .wrap .gap .container .right-wrap .aside span {
    display: inline-block;
    line-height: 100%;
    font-size: 10px;
    color: #dcdcdc;
    margin-left: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    letter-spacing: .5px;
}



#wrap #header .wrap .gap .container .right-wrap .aside span a {
    font-size: 11px;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #dcdcdc;
    color: #dcdcdc;
    font-weight: 600;
    background: transparent;
    transition: all .3s;
}

#wrap #header .wrap .gap .container .right-wrap .aside span a:hover {
    color: #000;
    background: #dcdcdc;
}








#wrap #main {
    z-index: 2;
    position: relative;
    width: 100%;
}

/* 부모영역의 높이를 기준으로 자식/자손의 높이를 결정한다. */
#wrap #main #section01 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 969px;
    /* script window.height */
    background: url(../img/slider-img4.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
}

#wrap #main #section01::before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: #252525;
    opacity: .7;
}

#wrap #main #section01 .wrap {
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

#wrap #main #section01 .wrap .gap {
    margin: 0 15px;
    width: auto;
    height: 100%;
}

#wrap #main #section01 .wrap .gap .container {
    width: 100%;
    height: 100%;
    display: table;
}

#wrap #main #section01 .wrap .gap .container .title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 50px;
}

#wrap #main #section01 .wrap .gap .container .title img {
    width: 100%;
    max-width: 542px;
}

#wrap #main #section01 .wrap .gap .container .next-move {
    display: inline-block;
    position: absolute;
    bottom: 6%;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
}

#wrap #main #section01 .wrap .gap .container .next-move a {
    display: inline-block;
}

#wrap #main #section01 .wrap .gap .container .next-move a img {
    width: 100%;
}


/* 부모영역의 높이를 기준으로 자식/자손의 높이를 결정한다. */
#wrap #main .section0234 {
    width: 100%;
    height: 969px;
    /* script window.height */
    background: url(../img/restaurant-img1.jpg) no-repeat 50% 0 scroll;
    background-size: cover;
}

#wrap #main .section0234 .wrap {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

#wrap #main .section0234 .wrap .gap {
    margin: 0 15px;
    width: auto;
    height: 100%;
}

#wrap #main .section0234 .wrap .gap .container {
    width: 100%;
    height: 100%;
    position: relative;
}

#wrap #main .section0234 .wrap .gap .container .box {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -275px;
    width: 100%;
    max-width: 450px;
    height: 550px;
    /* js 너비의 비율계산 높이비율 : 1.222222222  */
    background: #fff;
    transition: all .4s ease-in-out;
}

#wrap #main .section0234 .wrap .gap .container .box:after {
    z-index: 2;
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 4.4444444%;
    /* 20px; */
    width: 87.5555556%;
    /* 394px; */
    height: 494px;
    border: 8px
        /* 비율 0.017777778  */
        solid #d8b75f;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap {
    padding: 17.7326667%;
    /* 79.797px; */
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content {
    width: 100%;
    text-align: center;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h2 {
    padding-bottom: 15px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h2 img {
    width: 45px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h3 {
    padding-bottom: 10px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h3 span {
    font-family: 'Montserrat';
    font-size: 28px;
    color: #614c45;
    font-weight: 600;
    text-transform: uppercase;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h4 {
    padding-bottom: 30px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h4 span {
    font-size: 11px;
    color: #626262;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h5 {
    padding-bottom: 20px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content h5 img {
    width: 178px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content p {
    padding-bottom: 30px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content p span {
    font-size: 14px;
    color: #626262;
    line-height: 24px;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content span {
    display: block;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content span a {
    display: inline-block;
}

#wrap #main .section0234 .wrap .gap .container .box .box-gap .content span a img {
    width: 32px;
}


#wrap #main #section03 .wrap .gap .container .box {
    left: 0;
}



/* 부모영역의 높이를 기준으로 자식/자손의 높이를 결정한다. */
#wrap #main #section03 {
    width: 100%;
    height: 969px;
    /* script window.height */
    background: url(../img/restaurant-img2.jpg) no-repeat 50% 0 scroll;
    background-size: cover;
}

#wrap #main #section03 .wrap {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

#wrap #main #section03 .wrap .gap {
    margin: 0 15px;
    width: auto;
    height: 100%;
}

#wrap #main #section03 .wrap .gap .container {
    width: 100%;
    height: 100%;
}



/* 부모영역의 높이를 기준으로 자식/자손의 높이를 결정한다. */
#wrap #main #section04 {
    width: 100%;
    height: 969px;
    /* script window.height */
    background: url(../img/restaurant-img3.jpg) no-repeat 50% 0 scroll;
    background-size: cover;
}

#wrap #main #section04 .wrap {
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

#wrap #main #section04 .wrap .gap {
    margin: 0 15px;
    width: auto;
    height: 100%;
}

#wrap #main #section04 .wrap .gap .container {
    width: 100%;
    height: 100%;
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section05 {
    width: 100%;
    height: auto;
}

#wrap #main #section05 .wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

#wrap #main #section05 .wrap .gap {
    width: 100%;
}

#wrap #main #section05 .wrap .gap .container {
    width: 100%;
    height: 860px;
    /* 임시높이 */
}


/* 부모영역의 높이를 기준으로 자식/자손의 높이를 결정한다. */
#wrap #main #section06 {
    width: 100%;
    height: 750px;
    background: #99c;
    /*  임시배경 */
}

#wrap #main #section06 .wrap {
    width: 100%;
    height: 100%;
}

#wrap #main #section06 .wrap .gap {
    width: 100%;
    height: 100%;
}

#wrap #main #section06 .wrap .gap .container {
    width: 100%;
    height: 100%;
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section07 {
    width: 100%;
    height: auto;
    padding: 130px 0 0 0;
    background: #cc9;
    /*  임시배경 */
}

#wrap #main #section07 .wrap {
    width: 100%;
    height: auto;
}

#wrap #main #section07 .wrap .gap {
    width: 100%;
    height: auto;
}

#wrap #main #section07 .wrap .gap .container {
    width: 100%;
    height: 782px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section08 {
    width: 100%;
    height: auto;
    padding: 130px 0;
    background: url(../img/restaurant-img24.jpg) no-repeat 50% 0 fixed;
    background-size: cover;
}

#wrap #main #section08 .wrap {
    width: 100%;
    height: auto;
}

#wrap #main #section08 .wrap .gap {
    width: 100%;
    height: auto;
}

#wrap #main #section08 .wrap .gap .container {
    width: 100%;
    height: 582px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section09 {
    width: 100%;
    height: auto;
    padding: 130px 0;
}

#wrap #main #section09 .wrap {
    width: 100%;
    height: auto;
}

#wrap #main #section09 .wrap .gap {
    width: 100%;
    height: auto;
}

#wrap #main #section09 .wrap .gap .container {
    width: 100%;
    height: 932px;
    /* 임시높이 */
}



/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section10 {
    width: 100%;
    height: auto;
    padding: 130px 0;
    background: #c99;
}

#wrap #main #section10 .wrap {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #main #section10 .wrap .gap {
    margin: 0 15px;
}

#wrap #main #section10 .wrap .gap .container {
    width: 100%;
    height: 268px;
    /* 임시높이 */
}



/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section11 {
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
    padding: 130px 0;
    background: url(../img/slider-img6.jpg) no-repeat 50% 0 fixed;
}

#wrap #main #section11::after {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #252525;
    opacity: .8;
}

#wrap #main #section11 .wrap {
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #main #section11 .wrap .gap {
    width: 100%;
}

#wrap #main #section11 .wrap .gap .container {
    width: 100%;
    height: 625px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section12 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 130px 0;
    background: #9cd;
}

#wrap #main #section12 .wrap {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #main #section12 .wrap .gap {
    margin: 0 15px;
}

#wrap #main #section12 .wrap .gap .container {
    width: 100%;
    height: 187px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section13 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 130px 0;
}

#wrap #main #section13 .wrap {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #main #section13 .wrap .gap {
    width: 100%;
}

#wrap #main #section13 .wrap .gap .container {
    width: 100%;
    height: 200px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #main #section14 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 130px 0;
    background: #bd9
}

#wrap #main #section14 .wrap {
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #main #section14 .wrap .gap {
    width: 100%;
}

#wrap #main #section14 .wrap .gap .container {
    width: 100%;
    height: 640px;
    /* 임시높이 */
}


/* 조상 영역들의 높이를 마지막 자손영역의 높이(내용물의 높이에 따라서)가 결정한다. */
#wrap #footer {
    z-index: 1;
    position: relative;
    width: 100%;
    background: url(../img/restaurant-img41.jpg) no-repeat 50% 0;
    background-size: cover;
}

#wrap #footer::before {
    content: '';
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #252525;
    opacity: .7;
}

#wrap #footer .wrap {
    z-index: 3;
    position: relative;
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

#wrap #footer .wrap .gap {
    margin: 0 15px;
}

#wrap #footer .wrap .gap .container {
    width: 100%;
    height: 410px;
    /* 임시높이 */
    background: #c99;
}