*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-decoration: none;
}



/*header*/

.header{}
.header_wrap{
    width: 980px;
    height: 78px;
    margin: 0 auto;
    position: relative;
}


.header_wrap .logo{}

.header_wrap .menu{
    position: absolute;
    right: 0;
    top: 30px;
}

.header_wrap .menu>li{
    float: left;
    background-image: url(../images/line.jpg);
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-left: 20px;
    text-align: center;
}

.header_wrap .menu>li:first-child{
    background-image: none;
}




/*mainslide*/

.mainslide a{
    width: 100%;
    height: 600px;
    display: block;
    background-size: cover;
    background-image: url(../images/slider1.png);
    background-position: center;
    background-repeat: no-repeat;     
    text-indent: -9999px;
}




/*row1*/

.row1 > h3{
    color: #b3917c;
    text-align: center;
    font-size:24px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.row1 .wrap {width: 980px; margin: 0 auto;}


.row1 .wrap:after{
    content: '';
    display: block;
    clear: both;
}

.row1 .wrap>div{
    width: 326px;
    float: left;
    text-align: center;
}


.img1{margin-bottom: 40px;}

.img1  .txt{font-size: 18xp;}

.img1 > a .txt .tit{
    font-weight: bold;
    margin: 10px 0;
    display: block;
}






/*row2*/

.row2 {
    width: 100%;
    padding:45px 0 40px;
    /*height: 600px;*/
    background-image: url(../images/main.jpg);
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}


.con2_in{
    width: 980px;
    margin: 0 auto;
    background-color: aquamarine; 
}


.row2 h3 {
    color: #fff;
    text-align: center;
    font-size: 24px; 
}

.row2 h3>span {}



.con2_in:after{
    content: '';
    display: block;
    clear: both;
}





/*right 각각의 크기*/
.con2_in>div{
    background-color: rebeccapurple;
    width: 157px;
    height: 130px;
    float: left;
}

.con2_in .video{
    width: 470px;
    height: 270px;
    float: left;
}

.con2_in .video iframe{
    width:100%;
    height:100%;
}

/*right 전체너비*/
.con2_in .right{
    width: 480px;    
    left: 0;
    float: right;
}


.right>div:after{
    content: '';
    display: block;
    clear: both;
}

.right p{
    width:150px;    
    float:left;
    margin-right:15px;
    margin-bottom:15px;
}
      

.right p:nth-child(3n){margin-right: 0;}
.right p:nth-child(4){margin-right: 0;}
.right p:nth-child(5){margin-right: 0;}
.right p:nth-child(6){margin-right: 0;}



.right p img{
    width: 157px;    
    height: 130px;  
    float:left;
    margin-right:15px;
    margin-bottom:15px;
    
}


.right_top:last-child {margin-right: 0;}





/*footer*/
.footer{
    background-color: #171717;
    width: 100%;
    height: 300px;
}

.footer .foot_in{}
.footer .foot_in .foot_contents{
    width: 980px;
    margin: 0 auto;
}



/*제목*/
.tit{
    font-size: 16px;
    color:#b3917c;   
    margin-bottom: 8px;
}

.info{
    width: 326px;
    background-color: coral;
    float:left;
}


.info .contact{}




.contact .cont_tit1{
    font-size: 18px;
    color: yellow;
    font-weight: bold;
}



.foot_in .contact .cont_tit1 a{}

.foot_in .time{
    margin: 18px 0 6px;/*tel,상담전화 간격띄우기*/
    font-size: 15px;/*상담시간10시~*/
    font-weight: 500;
    color: white; /*상담시간*/
}
.foot_in .address{
    font-style: normal;
    color: black;    /*상호명~*/
    line-height: 18px; /*줄간격띄우기(간격+폰트사이즈)*/
}






.news{
    width: 326px;
    float:left;
    margin: 0 25px;/*박스 간격벌리기, 센터에만 값주기*/
}


.news .news_list{}


.news .news_tit li:before{
    content: '';
    display: block;
    clear: both;
}



.news .news_tit li{
    line-height: 13px;/*원래12였는데 호버시에 밑줄(1px)주려고*/
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 7px; /*도트와 붙은 간격띄우기*/
}

.news .news_tit li:last-child{
    margin-bottom: 0;
}


.news .news_tit li a {color: white;}

.news .news_tit li:hover a{}

    




/*sns*/


.sns {
    width: 310px;
    float:left;
}

.sns .tit {color:#9c7f6d;}

.sns .icon {font-size: 0;}



.sns .icon_contents .icon{
    font-size: 20px;
    color: #878787;
    margin-right: 20px;
}

.sns .icon_contents .icon:last-child{
    margin-right: 0;
}


.copy{
    font-size: ;13px;
    line-height: 1em;
    text-align: center;
    padding: 20px 0;/*여백주기-위 아래20 좌우0*/
    color: #888;   
}





































