/**노트북 사이즈
1.헤더영역 가로 px 을 %으로 변경
2.두번째 섹션영역에 가로값 전체 %로 변경 (in_wrap 가로값 95%)
3.마지막 섹션 가로값 %로 변경하고 이미지 비율에 맞춰 줄일것*/

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    border: 0;
}

@media all and (max-width:1199px) and (min-width:960px) {
    #wrap {
        width: 100%;
    }
    /*****************/
    section,
    header,
    footer {
        width: 100%;
        float: left;
    }
    .in_wrap {
        width: /*1200px*/
        95%;
        background-color: lightpink;
        margin: 50px auto;
    }
    /*****************/
    header {
        height: 85px;
        background-color: tan;
    }
    #in_header {
        width: /*1200px*/
        95%;
        height: 85px;
        background-color: thistle;
        margin: 0 auto;
    }
    #logo {
        width: auto;
        height: auto;
        font-size: 24px;
        font-weight: 900;
        float: left;
        letter-spacing: -1px;
        /*=>글자 자간 조절*/
        margin-top: 50px;
    }
    #menu {
        width: auto;
        height: auto;
        font-size: 16px;
        /*background-color: salmon;*/
        float: left;
        margin-left: 80px;
        font-weight: 900;
    }
    #menu>li {
        width: auto;
        height: auto;
        float: left;
        margin: 55px 0 0 80px;
    }
    #mo_but {
        display: none;
    }
    
    /*header end*/
    #section_1 {
        height: 800px;
        background-image: url(../img/main_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    #section_1:after {
        content: "";
        width: 100%;
        height: 300px;
        background-color: salmon;
        transform: skewY(-8deg);
        display: block;
        position: absolute;
        bottom: -150px;
    }
    /**가상 선택자
    =>원하는 태그 뒷쪽으로 :after 혹은 :before 적어서 사용
    =>content:""는 객체 안쪽으로 들어갈 글자 작성 적을게 없으면 따옴표적고 비우면됨
    =>요소를 반드시 적어줘야 객체형체를 띔 (block 혹은 inline)*/
    /*header end*/
    #section_2 {
        background-color: lightgray;
        position: relative;
        z-index: 999;
    }
    /**********title_wrap*********/
    .title_wrap {
        width: /*100%*/
        95%;
        background-color: tan;
        position: relative;
        z-index: 1000;
        margin: 0 auto;
    }
    .title_wrap>h1 {
        width: 100%;
        height: auto;
        font-size: 36px;
        text-align: center;
        background-color: aqua;
    }
    .title_wrap>p {
        width: 100%;
        height: auto;
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
    }
    /**********title_wrap*********/
    .con_1 {
        height: 375px;
        float: left;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        margin-right: 2.5%;
    }
    .long_con {
        width: /*700px*/
        58.3%;
    }
    .small_con {
        width: /*470px*/
        39.166%;
    }
    .con_1:nth-child(1) {
        background-image: url(../img/se_2_con_1.jpg);
    }
    .con_1:nth-child(2) {
        background-image: url(../img/se_2_con_2.jpg);
    }
    .con_1:nth-child(3) {
        background-image: url(../img/se_2_con_3.jpg);
    }
    .con_1:nth-child(4) {
        background-image: url(../img/se_2_con_4.jpg);
    }
    .con_1:nth-child(2),
    .con_1:nth-child(4) {
        margin-right: 0;
    }
    .con_1:nth-child(1),
    .con_1:nth-child(2) {
        margin-bottom: 30px;
    }
    /*section_2 end*/
    #section_3 {
        height: 400px;
        background-color: salmon;
        margin: 300px 0;
        position: relative;
    }
    #section_3:after {
        content: "";
        width: 100%;
        height: 300px;
        transform: skewY(-8deg);
        background-color: black;
        position: absolute;
        top: -150px;
        display: block;
    }
    #section_3:before {
        content: "";
        width: 100%;
        height: 300px;
        transform: skewY(-8deg);
        background-color: black;
        position: absolute;
        bottom: -150px;
        display: block;
    }
    /*section_3 end*/
    #title_4 {
        width: 950px;
        margin: 0 auto;
    }
    /*section_4 end*/
    #section_5 {
        height: 700px;
        background-image: url(../img/se_4_main.jpg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        margin: 100px 0;
    }
    /*section_5 end*/
    .con_6 {
        width: /*380px*/
        31.666%;
        height: 275px;
        float: left;
        margin-right: 2.5%;
    }
    .con_6:last-child {
        margin-right: 0;
    }
    .con_6>img {
        width: 100%;
        height: auto;
    }
    /*section_6 end*/
    footer {
        height: 200px;
        background-color: #dbdbdb;
        margin-top: 100px;
    }
    footer>p {
        width: 600px;
        margin: 80px auto;
        text-align: center;
    }
}


/*end*/