.popup_wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: #eee;
}

.popup_wrap.off {
    display: none;
}

.popup_contents_area {
    font-size: 30px;
    color: #fff;
    background: royalblue;
    height: 270px;
    line-height: 270px;
    text-align: center;
}

.layer_btns_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 4px;
    box-sizing: border-box;
    border: 1px solid #888;
}

.close_pop {
    display: block;
    color: #333;
}
